//
* {
    margin: 0;
    padding: 0;
}

.products {
    display: flex;
}

.catTreeView {
    display: inline;
    border: solid 1px black;
    padding: 4px;
}

.catTablew {
    display: inline;
    border: solid 1px black;
}

.catTable td, th {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.CatTableDivider {
    border-right: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    position: absolute;
    right: -2px;
    height: 100%;
    width: 2px;
    margin: 0px 2px;
    cursor: col-resize;
}

.CatTableDivider:hover {
    border-color: grey;
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }